html{
	background-color: #355D48;
}
.page__about-us-page {
    padding-top: 50px;
	background-color: #355D48;
}

.about-us-page__body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*--------------------------------------ABOUT US RIGHT COLUMN-------------------------------------------*/
.about-us-page__info-block {
	width: 36%;
}

.about-us__facts-block {
	display: flex;
	flex-direction: column;
	width: 54%;
}

.facts-block__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 8px;
}


.facts-block__row .fact-block:not(:last-child) {
    padding-right: 30px;
}

.facts-block__row .header {
    text-align: center;
	text-transform: uppercase;
	font-size: 65px;
	color: #fff;
	padding-bottom: 8px;
}

.facts-block__row .text {
    text-align: center;
    font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	padding-bottom: 45px;
    line-height: 170%;
}

.fact-block-page {
	width: 50%;
}

/*--------------------------------------ABOUT US LEFT COLUMN-------------------------------------------*/
.about-us-page__info-block {
	display: flex;
	flex-direction: column;
	width: 38%;
}

.info-block-page__header {
	font-size: 78px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 15px;
}

.info-block-page__text {
	font-family: "SF Pro Text";
	font-weight: 300;
	color: #fff;
	line-height: 170%;
	font-size: 15px;
	margin-bottom: 80px;
}

/*--------------------------------------GALLERY-------------------------------------------*/
.page__gallery{
    background-color: #355D48;
    padding-bottom: 95px;
}
.gallery__body{
    display: flex;
    flex-wrap: wrap;
}