html{
	background-color: #355D48;
}
.page__about-us-page {
    padding-top: 50px;
	background-color: #355D48;
}

.about-us-page__body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*--------------------------------------ABOUT US RIGHT COLUMN-------------------------------------------*/
.about-us-page__info-block {
	width: 36%;
}

.about-us__facts-block {
	display: flex;
	flex-direction: column;
	width: 54%;
}

.facts-block__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 8px;
}


.facts-block__row .fact-block:not(:last-child) {
    padding-right: 30px;
}

.facts-block__row .header {
    text-align: center;
	text-transform: uppercase;
	font-size: 65px;
	color: #fff;
	padding-bottom: 8px;
}

.facts-block__row .text {
    text-align: center;
    font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	padding-bottom: 45px;
    line-height: 170%;
}

.fact-block-page {
	width: 50%;
}

/*--------------------------------------ABOUT US LEFT COLUMN-------------------------------------------*/
.about-us-page__info-block {
	display: flex;
	flex-direction: column;
	width: 38%;
}

.info-block-page__header {
	font-size: 78px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 15px;
}

.info-block-page__text {
	font-family: "SF Pro Text";
	font-weight: 300;
	color: #fff;
	line-height: 170%;
	font-size: 15px;
	margin-bottom: 80px;
}

/*--------------------------------------GALLERY-------------------------------------------*/
.page__gallery{
    background-color: #355D48;
    padding-bottom: 95px;
}
.gallery__body{
    display: flex;
    flex-wrap: wrap;
}

/*--------------------------------------FOOTER GREEN-------------------------------------------*/
.footer-green {
	background-color: #355D48;
	/*green*/
}

.footer:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #ffff;
}

.footer__body {
	padding: 40px 0px;
}

.footer__logo {
	overflow: hidden;
	text-decoration: none;
	position: relative;
	top: -25px;
	text-align: center;
}


.footer__list-green {
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 28px;
	font-weight: 200;
	/*extra light*/
	text-transform: uppercase;
}

.footer__list-green li {
	position: relative;
	padding: 10px 24px;
}

.footer__link-green {
	color: #fff;
	text-decoration: none;
}

.footer__list-green > ul:first-child > li {
    border-bottom: 0.5px solid #355D48;
}

.footer__list-green ul>li:last-child {
	border-bottom: none;
	margin-bottom: 50px;
}

.footer__menu__sub-list-green {
	background-color: #355D48;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	list-style: none;
	top: 100%;
	right: 0;
	left: 0;
	pointer-events: none;
	transition: 0.5s ease-in-out;
	width: 310px;
	z-index: 20;
}

.footer__body ul li:hover .footer__menu__sub-list-green {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	transition: 0.5s ease-in-out;
}

.footer__menu__sub-link-green {
	color: #fff;
	text-decoration: none;
}

.li-footer-logo{
	width:200px;
	height: 65px;
	text-align: center;
}

.footer__contacts__sub-list-green{
	background-color: #355D48;
	position: absolute;
	list-style: none;
	top: 100%;
	right: 0;
	transition: 0.5s ease-in-out;
	width: 100%;
	z-index: 20;
}

.footer__contacts__sub-link-green{
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	color: #fff
}

.footer__contacts__sub-list-green li{
	padding: 0;
	text-align: end;
}

.right_body{
	position: absolute;
}

/* @media(max-width: 840px){
	body.lock{
		overflow: hidden;
	}
	.header__body {
		display: flex;
		justify-content: space-between;
	}
	.header__logo{
		flex: 2;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 35px;
		height: 20px;
	}
	.header__burger span {
		position: absolute;
		background-color: #668B5D;
		left: 0;
		width: 100%;
		height: 3px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #668B5D;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 80%;
		background-color: #ECF0E9;
		padding: 115px 0px 0px 35px;
		overflow: auto;
	}
	.header__menu.active{
		top: 0;
        display:flex;
	}
	.header__list{
	    margin: 10px 0px 0px 5px;
        display: block;
        min-width:200px;
	}
    .header__body ul li:hover .header__menu__sub-list{
        position: relative;
        margin: 10px 0px -20px 30px;
        opacity: 1;
        transition: visibility 3s, opacity 1.2s linear;
        visibility: visible;
	}
    .header__menu__sub-list{
        position: absolute;
        transition: visibility 0s, opacity 0.7s linear;
        opacity: 0;
        visibility: hidden;
        background-color: #ECF0E9;
    }
	.header__list li{
		margin: 0px 0px 10px 0px;
        
	}
    .header__list ul > li{
        border-bottom: 0px;
    }
	.header__link{
        font-size: 20px;
    }
} */