a:focus, a:hover {
    color: #232323;
    text-decoration: none; 
}

.page__user-profile{
    margin-top: 40px;
}

.user-profile__body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__menu{
    width: 32%;
    display: flex;
    flex-direction: column;
}

.menu__user-avatar{
    width: 33%;
    height: 0;
    padding-bottom: 33%;
    position: relative;
    margin-right: 25px;
    margin-bottom: 30px;
}

.menu__user-avatar .avatar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 110px;
    cursor: pointer;
}

.tooltiped .tooltip {
    position: absolute;
    left: 100px; top: 90px;
    visibility: hidden;
    opacity: 0;
    transition: ease 1s;
    padding-top: 1em;
  }
  .tooltiped:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  .tooltiped .tooltip .tooltip-content {
    width: 100px;
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.6);
    border: solid 0.1px black;
    border-radius: 5px;

  }
  .tooltiped .tooltip .tooltip-content,
  .tooltiped .tooltip .tooltip-content a {
    color: #355D48;
    font-family: "SF Pro Text";
    font-size: 10px;
  }

.menu__user-name{
    font-family: "SF Pro Text";
    font-size: 42px;
    color: #355D48;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 170%;
}

.menu__user-tel{
    font-family: "SF Pro Text";
    font-size: 18px;
    color: #989898;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.menu__user-discount{
    margin-bottom: 45px;
    font-family: "SF Pro Text";
    font-size: 14px;
    color: #989898;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 160%;
}

.menu__user-discount span{
    color:#232323;
}

.menu__header{
    font-family: "SF Pro Text";
    font-size: 15px;
    color: #232323;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 170%;
    margin-bottom: 20px;
}

/*стрелка*/
.arrow {
    position: relative;
    cursor: pointer;
    /* margin-left: 25px; */
    width: 20px; /* уменьшенная длина контейнера */
    height: 15px; /* уменьшенная высота контейнера */

    margin: 20px 25px;
}
.arrow-left {
    position: absolute;
    background-color: transparent;
    top: 5px; /* скорректированное значение top */
    left: 0px; /* скорректированное значение left */
    width: 12px; /* уменьшенная ширина стрелки */
    height: 3px; /* уменьшенная толщина стрелки */
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 1px; /* уменьшенный радиус закругления */
}
.arrow-left:after {
    content: "";
    background-color: #232323;
    width: 12px; /* уменьшенная ширина стрелки */
    height: 3px; /* уменьшенная толщина стрелки */
    display: block;
    float: right;
    border-radius: 3px 5px 5px 3px; /* уменьшенный радиус закругления */
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.arrow-right {
    position: absolute;
    background-color: transparent;
    top: 5px; /* скорректированное значение top */
    left: 8px; /* скорректированное значение left */
    width: 12px; /* уменьшенная ширина стрелки */
    height: 3px; /* уменьшенная толщина стрелки */
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 1px; /* уменьшенный радиус закругления */
}
.arrow-right:after {
    content: "";
    background-color: #232323;
    width: 12px; /* уменьшенная ширина стрелки */
    height: 3px; /* уменьшенная толщина стрелки */
    display: block;
    float: right;
    border-radius: 5px 3px 3px 5px; /* уменьшенный радиус закругления */
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .arrow-left:after {
    transform-origin: center center;
    transform: rotate(70deg);
}
.open .arrow-right:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}

.menu-tab{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    cursor: pointer;
}

.active-tab {
    background-color: #E9E9E9;
    border-radius: 40px;
}


.menu__tab-header{
    font-family: "SF Pro Text";
    font-size: 15px;
    color: #232323;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 170%;
    align-self: center;

    cursor: pointer;
}


.profile__area {
    display: none;
    width: 65%;
    background-color: #355D48;
    border-radius: 16px;
}
.profile__area.active {
    display: block;
}

.profile__area#area2{
    background-color: #F6F6F6;
}


/*вкладка пароля*/
.area-title {
    line-height: 170%;
    text-transform: uppercase;
    font-size: 25px;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    border-bottom: 4px solid #ffffff;
    margin-bottom: 55px;
}

._profile-area-container{
    width: 70%;
    margin: 0px auto 60px auto;
    padding: 0px;
    box-sizing: content-box;
}

.change-password__body{
    display: flex;
    flex-direction: column;
}

.label-input__group-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 28px;
}

label{
    font-family: "SF Pro Text";
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    margin-bottom: 12px;
}

input{
    padding: 17px 40px;
    font-family: "SF Pro Text";
    font-size: 21px;
    line-height: 160%;
    border-radius: 50px;
    background-color: #EAEAEA;
}

#change-password{
    align-self: center;
    margin-top: 30px;
}

/*расписание*/

.area-title-calendar {

    line-height: 170%;
    text-transform: uppercase;
    font-size: 25px;
    color: #232323;
    padding: 20px 0;
    text-align: center;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    border-bottom: 4px solid #232323;
    margin-bottom: 55px;
} 

#calendar{
    margin: 60px ;
    background-color: #F6F6F6;
    font-family: "SF Pro Text";
}

h2{
    font-family: "SF Pro Text";
}

.fc-center {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "SF Pro Text";
    font-weight: 700;
}

.modal-dialog{
    font-family: "SF Pro Text";
}

.fc-event, .fc-event-dot{
    background-color: #38624C; /* красный цвет фона */
    border: 1px solid #38624C;
}

.fc-content .fc-time {
    display: none; /* Скрыть отображение времени в ячейке события */
}

.tooltipevent{
    width: 100px;
    color: #355D48;
    font-family: "SF Pro Text";
    font-size: 10px;
    width: 100px;
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.6);
    border: solid 0.1px black;
    border-radius: 5px;

    height:auto;
    position:absolute;
}

form span{
    text-transform: uppercase;
    font-weight: 600;
}

#leave_title{
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 22px;
    font-weight: 600;
}

/*ОТЗЫВЫ*/

.profile__area#area3{
    overflow-y: scroll;
    height: 680px;
}

.leave-review__body{
    display: flex;
    flex-direction: column;
}

textarea{
    resize: none;
    padding: 17px 40px;
    font-family: "SF Pro Text";
    font-size: 21px;
    line-height: 160%;
    border-radius: 40px;
    background-color: #EAEAEA;
    height: 150px;

    margin-bottom: 28px; 
}

.star{
    margin-right: 5px;
}

.procedure-info{
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    margin-bottom: 55px;
    text-align: center;
    line-height: 170%;
}

.procedure-info span{
    color: #ffffff;
}

.review-button{
    margin-top: 30px;
    align-self: center;
}

.border {
    line-height: 170%;
    text-transform: uppercase;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    border-bottom: 4px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 55px;
}

