/*--------------------------------------FOOTER GREEN-------------------------------------------*/
.footer-green {
	background-color: #355D48;
	/*green*/
}

.footer:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #ffff;
}

.footer__body {
	padding: 40px 0px;
}

.footer__logo {
	overflow: hidden;
	text-decoration: none;
	position: relative;
	top: -25px;
	text-align: center;
}


.footer__list-green {
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 23px;
	font-weight: 200;
	/*extra light*/
	text-transform: uppercase;
}

.footer__list-green li {
	position: relative;
	padding: 10px 24px;
}

.footer__link-green {
	color: #fff;
	text-decoration: none;
}

.footer__list-green > ul:first-child > li {
    border-bottom: 0.5px solid #355D48;
}

.footer__list-green ul>li:last-child {
	border-bottom: none;
	margin-bottom: 50px;
}

.footer__menu__sub-list-green {
	background-color: #355D48;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	list-style: none;
	top: 100%;
	right: 0;
	left: 0;
	pointer-events: none;
	transition: 0.5s ease-in-out;
	width: 310px;
	z-index: 20;
}

.footer__body ul li:hover .footer__menu__sub-list-green {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	transition: 0.5s ease-in-out;
}

.footer__menu__sub-link-green {
	color: #fff;
	text-decoration: none;
}

.li-footer-logo{
	width:200px;
	height: 65px;
	text-align: center;
}

.li-footer-logo img{
	width: 110px;
}

.footer__contacts__sub-list-green{
	background-color: #355D48;
	position: absolute;
	list-style: none;
	top: 100%;
	right: 0;
	transition: 0.5s ease-in-out;
	width: 100%;
	z-index: 20;
}

.footer__contacts__sub-link-green{
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	color: #fff
}

.footer__contacts__sub-list-green li{
	padding: 0;
	text-align: end;
}

.right_body{
	position: absolute;
}

p.footer__contacts__sub-link-green{
	margin-top:14px;
	margin-bottom: 2px;
}


@media screen and (max-width: 1260px) {
	.footer__list-green>:first-child,
	.footer__list-green>li:nth-child(2),
	.footer__list-green>li:nth-child(3),
	.footer__list-green>li:nth-child(4),
	.footer__list-green>li:nth-child(5),
	.footer__list-green>li:nth-child(6){
		display: none;
	}

	.footer__list-green{
		justify-content: center;
	}

	.footer__contacts__sub-list-green li{
		text-align: center;
	}

}

@media screen and (max-width: 375px) {
	
	.li-footer-logo{
		zoom: 0.7;
	}
}
