/*--------------------------------------HEADER GREEN-------------------------------------------*/
.header {
	background-color: #355D48;
	/*green*/
}

.header:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #ffff;
}

.header__body {
	padding: 40px 0px;
}

.li-header-logo{
	height: 65px;
	text-align: center;
}

.header__logo {
	overflow: hidden;
	text-decoration: none;
	position: relative;
	top: -30px;
}

.header__logo img {
	width: 110px;
    /* height: 153px; */
}

.header__burger {
	display: none;
}

.header__list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 23px;
	font-weight: 200;
	/*extra light*/
	text-transform: uppercase;
}

.header__list li {
	position: relative;
	padding: 10px 24px;
}

.header__link {
	color: #fff;
	text-decoration: none;
}


/*for sub-menu*/
.header__list ul>li, .header__list ul a li  {
	border-bottom: 0.5px solid #fff;
}

/* .header__list ul>li:last-child {
	border-bottom: none
} */

.header__list li:nth-child(1) .header__menu__sub-list{
	background-color: #355D48;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	list-style: none;
	top: 100%;
	right: 0;
	left: 0;
	pointer-events: none;
	transition: 0.8s ease-in-out;
	width: 300px;
	z-index: 20;
}

.header__body ul li:hover .header__menu__sub-list {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	transition: 0.8s ease-in-out;
}

.header__menu__sub-link {
	color: #fff;
	text-decoration: none;
}

.header__list li:nth-child(8) .header__menu__sub-list{
    background-color: #355D48;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	list-style: none;
	top: 100%;
	right: 0;
	pointer-events: none;
	transition: 0.8s ease-in-out;
	width: 200px;
	z-index: 20;
}

.header__list li:nth-child(8) .header__menu__sub-list li{
    padding-right: 0px;
}

/* @media(max-width: 840px){
	body.lock{
		overflow: hidden;
	}
	.header__body {
		display: flex;
		justify-content: space-between;
	}
	.header__logo{
		flex: 2;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 35px;
		height: 20px;
	}
	.header__burger span {
		position: absolute;
		background-color: #668B5D;
		left: 0;
		width: 100%;
		height: 3px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #668B5D;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 80%;
		background-color: #ECF0E9;
		padding: 115px 0px 0px 35px;
		overflow: auto;
	}
	.header__menu.active{
		top: 0;
        display:flex;
	}
	.header__list{
	    margin: 10px 0px 0px 5px;
        display: block;
        min-width:200px;
	}
    .header__body ul li:hover .header__menu__sub-list{
        position: relative;
        margin: 10px 0px -20px 30px;
        opacity: 1;
        transition: visibility 3s, opacity 1.2s linear;
        visibility: visible;
	}
    .header__menu__sub-list{
        position: absolute;
        transition: visibility 0s, opacity 0.7s linear;
        opacity: 0;
        visibility: hidden;
        background-color: #ECF0E9;
    }
	.header__list li{
		margin: 0px 0px 10px 0px;
        
	}
    .header__list ul > li{
        border-bottom: 0px;
    }
	.header__link{
        font-size: 20px;
    }
} */
