/*--------------------------------------HEADER WHITE-------------------------------------------*/
.header-white {
	background-color: #fff;
}

.header-white:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #355D48;
}

.burger-logo-profile__body {
    display: none; /* Скрыто по умолчанию */
	width: 100%;
	font-size: 23px;
	font-weight: 200;
	text-transform: uppercase;
}

.header__list-mobile{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	max-width: 1100px;
}

.header__list-mobile>li{
	padding-left: 0px;
	padding-right: 0px;
}

.header__body {
	padding: 40px 0px;
}

.li-header-logo{
	height: 65px;
	text-align: center;
}

.header__logo {
	overflow: hidden;
	text-decoration: none;
	position: relative;
	top: -30px;
}

.header__logo img {
	width: 110px
    /*height: 68px; */
}

.header__burger {
	display: none;
}

.header__list-white {
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 23px;
	font-weight: 200;
	/*extra light*/
	text-transform: uppercase;
}

.header__list-white li {
	position: relative;
	padding: 10px 24px;
}

.header__link-white {
	color: #232323;
	text-decoration: none;
}

/*for sub-menu*/
.header__list-white ul>li, .header__list-white ul a li {
	/* border-bottom: 0.5px solid #232323; */
}

/* .header__list-white ul>li:last-child {
	border-bottom: none
} */



.header__list-white li:nth-child(1) .header__menu__sub-list-white{
	background-color: #fff;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	list-style: none;
	top: 100%;
	right: 0;
	left: 0;
	pointer-events: none;
	transition: 0.8s ease-in-out;
	width: 310px;
	z-index: 20;
}

.header__body ul li:hover .header__menu__sub-list-white {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	transition: 0.8s ease-in-out;
}

.header__menu__sub-link-white {
	color: #232323;
	text-decoration: none;
}

.header__list-white li:nth-child(8) .header__menu__sub-list-white{
	background-color: #fff;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	list-style: none;
	top: 100%;
	right: 0;
	pointer-events: none;
	transition: 0.8s ease-in-out;
	width: 200px;
	z-index: 20;
}

.header__list-mobile .header__menu__sub-list-white {
    background-color: #fff;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	list-style: none;
	right: 0;
	pointer-events: none;
	transition: 0.8s ease-in-out;
	width: 200px;
	z-index: 20;
}

.header__list-white li:nth-child(8) .header__menu__sub-list-white li{
    padding-right: 0px;
}

/*--------------------------------------АДАПТИВ-------------------------------------------*/

@media(max-width: 1280px){
	.fa.fa-angle-down{
		display: none;
	}
	.burger-logo-profile__body {
        display: block; /* Показываем при адаптивной верстке */
    }

	ul.header__list-white .li-header-logo,
	.header__list-white li:nth-child(8){
		display: none;
	}

	body.lock{
		overflow: hidden;
	}
	.header__body {
		display: flex;
		justify-content: space-between;
	}

	/* .burger-logo-profile__body li:last-child {
		display: flex;
		align-items:baseline;
	} */
	.burger-logo-profile__body .header__menu__sub-list-white li {
		padding-right: 0px;
		position: relative;
		padding: 10px 24px;
	}

	.header__burger{
		display: block;
		position: relative;
		width: 35px;
		height: 20px;
		z-index: 30;
	}
	.header__burger span {
		position: absolute;
		background-color: #232323;
		left: 0;
		width: 100%;
		height: 3px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #232323;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu{
		z-index: 20;
		position: fixed;
		left: -130%;
		top: 0;
		width: fit-content;
		height: 100%;
		background-color: #fff;
		padding: 115px 0px 0px 35px;
		overflow: auto;
		transition: all ease-in-out 0.5s;
	}
	.header__menu.active{
		left: 0;
        display:flex;
		transition: all ease-in-out 0.5s;
	}
	.header__list-white{
	    margin: 10px 0px 0px 5px;
        display: block;
        min-width:200px;
	}
    .header__body ul.header__list-white li .header__menu__sub-list-white{
        position: relative;
        margin: 10px 0px -20px 30px;
        opacity: 1;
        visibility: visible;
	}
    .header__menu__sub-list-white{
		position: relative;
		display: block;
        margin: 10px 0px -20px 30px;
        opacity: 1;
        visibility: visible;
		font-size: 20px;
    }
	.header__list-white li{
		margin: 0px 0px 10px 0px;
        
	}
    .header__list-white ul > li{
        border-bottom: 0px;
    }
	.header__link-white{
        font-size: 20px;
    }
}

@media screen and (max-width: 530px) {
	.header__list-mobile .header__menu__sub-list-white {
		width: 150px;
	}
}
@media screen and (max-width: 414px) {
	.header__logo img{
		scale: 0.7;
	}
	.header__list-mobile .header__menu__sub-list-white {
		width: 130px;
	}
	.header__body ul.header__list-white li .header__menu__sub-list-white {
		margin: 10px 0px -20px 0px;
	}
}
@media screen and (max-width: 375px) {

	.header__list-mobile .header__menu__sub-list {
		width: 100px;
	}
}
@media screen and (max-width: 320px) {

}
