:root{
	--left-column-width: 42%;
}
/*--------------------------------------SLIDERS-------------------------------------------*/
.page__slider {
	background-color: #355D48;
}

.swiper-container {
	overflow-y: auto;
	overflow-x: hidden !important;
}

/*--------------------------------------SLIDER 1-------------------------------------------*/
.swiper-container.swiper1 {
	padding-top: 157px;
}

.swiper-slide.background {
	height: 780px;
	background-size: cover;
	background-position: center;
}

/*--------------------------------------SLIDER 2-------------------------------------------*/

.swiper-container.swiper2 {
	overflow: hidden;
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	z-index: 1;
}

.swiper-slide.front {
	height: 640px;
}

.swiper-slide.front p {
	font-size: 78px;
	font-weight: 400;
	/*regular*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding-bottom: 30px;
}

.swiper-slide.front {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	;
}

/*--------------------------------------SLIDE PAGINATION-------------------------------------------*/

.swiper-pagination {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
	width: fit-content;
	position: relative;
	left: 75%;
	bottom: 370px;

}

.swiper-pagination .swiper-pagination-bullet {
	background: transparent;
	width: auto;
	height: auto;
}

/*--------------------------------------SLIDE NEXT PREVIOUS BUTTONS-------------------------------------------*/

.swiper-navigation-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;


	position: relative;
	bottom: 500px;

}

.swiper-button-next,
.swiper-button-prev {
	position: relative;
	width: auto;
	height: auto;
	padding: 10px 20px;
	font-size: 18px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
}

.swiper-button-prev::after {
	content: '\2192';
	/* Путь к изображению для стрелки */
	margin-left: 10px;
	font-size: 26px;
}

.swiper-button-next::after {
	content: '\2190';
	/* Путь к изображению для стрелки */
	margin-left: 10px;
	font-size: 26px;
}

/*--------------------------------------SLIDER COUNT-------------------------------------------*/
.slider-counter {
	color: rgba(255, 255, 255, 0.4);
	font-size: 16px;
	position: relative;
	bottom: 240px;
	text-align: center;
	z-index: 12;
}

.slider-counter-current-number {
	color: #fff;
}

.swiper-slide.front p {
	opacity: 0;
	transition: opacity 1.5s ease;
}

.swiper-slide-active.front p {
	opacity: 1;
	transition: opacity 1.5s ease;
}

.swiper-slide.front .button {
	display: none;
}

.swiper-slide-active.front .button {
	display: block;
}

/*--------------------------------------ABOUT US-------------------------------------------*/

.page__about-us {
	background-color: #355D48;
}

.about-us__body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 120px;
	height: 420px;
}

/*--------------------------------------ABOUT US LEFT COLUMN-------------------------------------------*/
.about-us__icons-block {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	justify-content: space-between;
}


.icons-block__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
}

.icons-block__row .icon-block {
	text-align: center;
}

.icons-block__row .text {
	text-transform: uppercase;
	font-size: 26px;
	color: #fff;
	padding: 15px 27px 0 27px;
}

.icon-block {
	width: 50%;
}

/*--------------------------------------ABOUT US RIGHT COLUMN-------------------------------------------*/

.about-us__info-block {
	display: flex;
	flex-direction: column;
	width: 38%;
	justify-content: space-between;
}

.info-block__header {
	font-size: 78px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 15px;
}

.info-block__text {
	font-family: "SF Pro Text";
	font-weight: 300;
	color: #fff;
	line-height: 170%;
	font-size: 15px;
}

/*--------------------------------------SPECIALISTS TABS-------------------------------------------*/
.specialists-title-button{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 92px;
	margin-bottom: 42px;
	align-items: center;
}

.specialists-title {
	font-size: 78px;
	text-transform: uppercase;
}

.specialists-button{
	font-family: "SF Pro Text";
	font-size: 15px;
	color: #232323;
	position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}

.specialists-button:after {
	display: block;
	position: absolute;
	top: 25px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 1.5px; /*задаём ширину линии*/
	background-color: #232323; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.specialists-button:hover:after,
.specialists-button:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.tab {
	display: flex;
	flex-wrap: wrap;
}

.radio-buttons__body {
	display: flex;
	flex-direction: row;
	width: 1220px;
	margin: 0px auto;
	padding: 0px;
	box-sizing: content-box;
}

.radio-buttons__body>input[type="radio"] {
	display: none;
}

.tab-content {
	display: none;
	width: 100%;
	margin-top: 66px;
	margin-bottom: 192px;
}

.radio-buttons__body>label {
	text-transform: uppercase;
	font-size: 22px;
	color: #A7A7A7;
	padding-bottom: 26px;
	width: 25%;
	text-align: center;
	cursor: pointer;
	transition: color .15s ease-in-out, border-color .15s ease-in-out;
	border-bottom: 6px solid #F6F6F6;
}

.radio-buttons__body>label:hover {
	border-bottom-color: #6B6B6B;
}

.radio-buttons__body>input[type="radio"]:checked+label {
	cursor: default;
	color: #212529;
	border-bottom-color: #6B6B6B;
}

/*--------------------------------------SPECIALISTS SLIDER-------------------------------------------*/

.auto-scroll-wrap .splide {
	position: relative;
}

.auto-scroll-wrap .splide__track {
	overflow: hidden;
}

.auto-scroll-wrap .splide__slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.auto-scroll-wrap .slide-name {
	margin-top: 30px;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.auto-scroll-wrap .slide-description {
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	text-align: center;
}

.auto-scroll-wrap .slide-button {
	align-self: center;
}

.auto-scroll-wrap .splide__pagination__page {
	display: none;
}

/*--------------------------------------WHEEL-------------------------------------------*/

.page__wheel {
	background-color: #355D48;
}

.wheel__body{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: relative;
}

.wheel-title {
	font-size: 55px;
	text-transform: uppercase;
	padding-top: 46px;
	padding-bottom: 15px;
	color: #fff;
}

.wheel-text {
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	width: 60%;
	line-height: 160%;
	padding-bottom: 32px;
}

.wheel__left-column{
	width: var(--left-column-width);
}

.wheel__right-column{
	/* position: relative;
	top: -122.5px;
	height: 455px; */
	position: absolute;
    top: 50%;
	right: 0%;
    transform: translateY(-50%);
	/* margin-left: 30px; */
}

/*--------------------------------------QUIZ BLOCK-------------------------------------------*/
.page__quiz-block{
	margin-bottom: 78px;
}
.quiz-block__body{
	margin-top: 245px;
	background-color: #F6F6F6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quiz-block-title{
	padding-top: 52px;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 15px;
}

.quiz-block-text{
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	line-height: 160%;
	padding-bottom: 35px;
}

.quiz-block-button{
	margin-bottom: 52px;
}
