:root{
	--left-column-width: 42%;
}
/*--------------------------------------SLIDERS-------------------------------------------*/
.page__slider {
	background-color: #355D48;
}

.swiper-container {
	overflow-y: auto;
	overflow-x: hidden !important;
}

/*--------------------------------------SLIDER 1-------------------------------------------*/
.swiper-container.swiper1 {
	padding-top: 77px;
}

@media screen and (max-width: 834px) {
	.swiper-container.swiper1 {
		padding-top: 50px;
	}

}

.swiper-slide.background {
	height: 780px;
	background-size: cover;
	background-position: center;
}

@media screen and (max-width: 1280px) {
	.swiper-slide.background {
		height: 680px;
	}

}

@media screen and (max-width: 1024px) {
	.swiper-slide.background {
		height: 500px;
	}

}

@media screen and (max-width: 640px) {
	.swiper-slide.background {
		height: 380px;
	}

}


@media screen and (max-width: 540px) {
	.swiper-slide.background {
		height: 400px;
		visibility: hidden;
	}
	.swiper-container.swiper1 {
        padding-top: 90px;
    }
}

@media screen and (max-width: 414px) {
	.swiper-slide.background {
		height: 400px;
		visibility: hidden;
	}
	.swiper-container.swiper1 {
        padding-top: 30px;
    }
}


/*--------------------------------------SLIDER 2-------------------------------------------*/

.swiper-container.swiper2 {
	overflow: hidden;
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	z-index: 1;
}

.swiper-slide.front {
	height: 640px;
}

.swiper-slide.front p {
	font-size: 78px;
	font-weight: 400;
	/*regular*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding-bottom: 30px;
}

.swiper-slide.front {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	;
}

@media screen and (max-width: 1280px) {
	.swiper-slide.front {
		height: 520px;
	}

	.swiper-slide.front p {
		font-size: 61px;
	}


}

@media screen and (max-width: 1024px) {
	.swiper-slide.front {
		height: 400px;
	}

	.swiper-slide.front p {
		font-size: 50px;
	}
}

@media screen and (max-width: 834px) {
	.swiper-slide.front {
		height: 350px;
	}

	.swiper-slide.front p {
		font-size: 38px;
	}

}

@media screen and (max-width: 640px) {
	.swiper-slide.front {
		height: 280px;
	}

	.swiper-slide.front p {
		font-size: 30px;
	}

}


@media screen and (max-width: 540px) {
	.swiper-slide.front {
		height: 500px;
	}

	.swiper-slide.front p {
		font-size: 60px;
	}

}

@media screen and (max-width: 414px) {
	.swiper-slide.front {
		height: 400px;
	}

	.swiper-slide.front p {
		font-size: 40px;
	}

}

/*--------------------------------------SLIDE PAGINATION-------------------------------------------*/

.swiper-pagination {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
	width: fit-content;
	position: relative;
	left: 75%;
	bottom: 370px;

}

.swiper-pagination .swiper-pagination-bullet {
	background: transparent;
	width: auto;
	height: auto;
}

@media screen and (max-width: 1024px) {

	.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 250px;
	}
}

@media screen and (max-width: 736px) {
	.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
		left: 78%;
		font-size: 10px;
	}
}

@media screen and (max-width: 640px) {
	.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 180px;
	}
}


@media screen and (max-width: 540px) {
	.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
		display: none;
	}
}


/*--------------------------------------SLIDE NEXT PREVIOUS BUTTONS-------------------------------------------*/

.swiper-navigation-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;


	position: relative;
	bottom: 500px;
}

.swiper-button-next,
.swiper-button-prev {
	position: relative;
	width: auto;
	height: auto;
	padding: 10px 20px;
	font-size: 18px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
}

.swiper-button-prev::after {
	content: '\2192';
	/* Путь к изображению для стрелки */
	margin-left: 10px;
	font-size: 26px;
}

.swiper-button-next::after {
	content: '\2190';
	/* Путь к изображению для стрелки */
	margin-left: 10px;
	font-size: 26px;
}

@media screen and (max-width: 1024px) {

	.swiper-navigation-container {
		bottom: 400px;
	}
}
@media screen and (max-width: 834px) {
	.swiper-navigation-container {
		bottom: 380px;
	}
}

@media screen and (max-width: 736px) {
	.swiper-button-next,
	.swiper-button-prev {
		font-size: 12px;
	}

	.swiper-navigation-container {
		bottom: 350px;
	}
}

@media screen and (max-width: 640px) {

	.swiper-navigation-container {
		bottom: 280px;
	}

}

@media screen and (max-width: 540px) {
	.swiper-navigation-container {
		bottom: 80px;
	}

	.swiper-button-next,
	.swiper-button-prev {
		font-size: 14px;
	}

	.swiper-button-prev:after, .swiper-button-next:after {
		font-size: 20px;
	}
}

/*--------------------------------------SLIDER COUNT-------------------------------------------*/
.slider-counter {
	color: rgba(255, 255, 255, 0.4);
	font-size: 16px;
	position: relative;
	bottom: 240px;
	text-align: center;
	z-index: 12;
}

.slider-counter-current-number {
	color: #fff;
}

.swiper-slide.front p {
	opacity: 0;
	transition: opacity 1.5s ease;
}

.swiper-slide-active.front p {
	opacity: 1;
	transition: opacity 1.5s ease;
}

.swiper-slide.front .button {
	display: none;
}

.swiper-slide-active.front .button {
	display: block;
}

@media screen and (max-width: 640px) {

	.slider-counter {
		bottom: 200px;
	}

}

@media screen and (max-width: 540px) {

	.slider-counter {
		bottom: 90px;
		font-size: 14px;
	}

}

@media screen and (max-width: 414px) {
	.slider-counter {
		bottom: 75px;
		font-size: 12px;
	}
}

/*--------------------------------------ABOUT US-------------------------------------------*/

.page__about-us {
	background-color: #355D48;
}

.about-us__body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 120px;
	height: 420px;
}

@media screen and (max-width: 736px) {
	.about-us__body {
		flex-direction: column;
		height: fit-content;
		padding-bottom: 80px;
	}

}

@media screen and (max-width: 540px) {
	.about-us__body {
		padding-bottom: 60px;
	}

}

/*--------------------------------------ABOUT US LEFT COLUMN-------------------------------------------*/
.about-us__icons-block {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	justify-content: space-between;
}


.icons-block__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
}

.icons-block__row .icon-block {
	text-align: center;
}

.icons-block__row .text {
	text-transform: uppercase;
	font-size: 26px;
	color: #fff;
	padding: 15px 27px 0 27px;
}

.icon-block {
	width: 50%;
}

@media screen and (max-width: 1280px) {
	.icons-block__row .text {
		font-size: 22px;
	}
}

@media screen and (max-width: 1024px) {
	.icons-block__row .text {
		font-size: 18px;
	}

	.icon-block img{
		transform: scale(0.8);
	}
}

@media screen and (max-width: 834px) {
    .icons-block__row .text {
        font-size: 15px;
    }
}

@media screen and (max-width: 736px) {
	.about-us__icons-block {
		width: 100%;
	}

	.icons-block__row:first-child {
		margin-top: 0px;
	}

	.icon-block img{
		transform: scale(1);
	}

	.icons-block__row .text {
		font-size: 18px;
	}

	.about-us__icons-block {
		margin-bottom: 80px;
	}

	.about-us__info-block a{
		align-self: center;
	}
	
}

@media screen and (max-width: 540px) {
	.icon-block img{
		transform: scale(0.6);
	}

	.icons-block__row .text {
        font-size: 13px;
    }

	.icons-block__row:nth-child(2) {
		margin-top: 40px;
	}

	.about-us__icons-block {
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 540px) {
	.icons-block__row .text {
		padding: 0px;
	}

}

/*--------------------------------------ABOUT US RIGHT COLUMN-------------------------------------------*/

.about-us__info-block {
	display: flex;
	flex-direction: column;
	width: 38%;
	justify-content: space-between;
}

.info-block__header {
	font-size: 78px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 15px;
}

.info-block__text {
	font-family: "SF Pro Text";
	font-weight: 300;
	color: #fff;
	line-height: 170%;
	font-size: 15px;
}

@media screen and (max-width: 1280px) {
	.info-block__header {
		font-size: 70px;
	}

}

@media screen and (max-width: 1024px) {
	.info-block__text {
		font-size: 13px;
	}

}

@media screen and (max-width: 736px) {
	.info-block__header{
		text-align: center;
	}
	.about-us__info-block {
		width: 100%;
	}
	.info-block__text {
		text-align: center;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 540px) {
	.info-block__header{
		font-size: 50px;
	}

}

/*--------------------------------------SPECIALISTS TABS-------------------------------------------*/
.specialists-title-button{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 92px;
	margin-bottom: 42px;
	align-items: center;
}

.specialists-title {
	font-size: 78px;
	text-transform: uppercase;
}

.specialists-button{
	font-family: "SF Pro Text";
	font-size: 15px;
	color: #232323;
	position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}

.specialists-button:after {
	display: block;
	position: absolute;
	top: 25px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 1.5px; /*задаём ширину линии*/
	background-color: #232323; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.specialists-button:hover:after,
.specialists-button:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.tab {
	display: flex;
	flex-wrap: wrap;
}

.radio-buttons__body {
	display: flex;
	flex-direction: row;
	width: 1220px;
	margin: 0px auto;
	padding: 0px;
	box-sizing: content-box;
}

.radio-buttons__body>input[type="radio"] {
	display: none;
}

.tab-content {
	display: none;
	width: 100%;
	margin-top: 66px;
	margin-bottom: 192px;
}

.radio-buttons__body>label {
	text-transform: uppercase;
	font-size: 22px;
	color: #A7A7A7;
	padding-bottom: 26px;
	width: 25%;
	text-align: center;
	cursor: pointer;
	transition: color .15s ease-in-out, border-color .15s ease-in-out;
	border-bottom: 6px solid #F6F6F6;
}

@media screen and (max-width: 1280px) {
	.specialists-title {
		font-size: 70px;
	}
}

@media screen and (max-width: 1024px) {
	.radio-buttons__body>label {
		font-size: 18px;
	}
}

@media screen and (max-width: 834px) {
	.radio-buttons__body>label {
		font-size: 16px;
	}

}

@media screen and (max-width: 736px) {
	.radio-buttons__body>label {
		width: 50%;
		margin-bottom: 30px;
	}

	.radio-buttons__body {
		flex-wrap: wrap;
	}

	.specialists-button{
		display: none;
	}

	.specialists-title-button{
		margin-top: 80px;

	}

	.tab-content {
		margin-top: 40px;
		margin-bottom: 192px;
	}
}

@media screen and (max-width: 540px) {
	.specialists-title-button{
		margin-top: 60px;
	}

	.specialists-title {
		font-size: 50px;
	}
	
	.tab-content{
		margin-top: 20px;
		margin-bottom: 120px;
	}
}

@media screen and (max-width: 414px) {
	
	.tab-content{
		margin-top: 20px;
		margin-bottom: 90px;
	}

	.radio-buttons__body>label {
		font-size: 14px;
		padding-bottom: 20px;
	}

}

@media screen and (max-width: 320px) {
	.specialists-title {
		font-size: 40px;
	}
}


.radio-buttons__body>label:hover {
	border-bottom-color: #6B6B6B;
}

.radio-buttons__body>input[type="radio"]:checked+label {
	cursor: default;
	color: #212529;
	border-bottom-color: #6B6B6B;
}

/*--------------------------------------SPECIALISTS SLIDER-------------------------------------------*/

.auto-scroll-wrap .splide {
	position: relative;
}

.auto-scroll-wrap .splide__track {
	overflow: hidden;
}

.auto-scroll-wrap .splide__slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.auto-scroll-wrap .slide-name {
	margin-top: 30px;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.auto-scroll-wrap .slide-description {
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	text-align: center;
}

.auto-scroll-wrap .slide-button {
	align-self: center;
}

.auto-scroll-wrap .splide__pagination__page {
	display: none;
}

@media screen and (max-width: 1024px) {
	.auto-scroll-wrap .slide-name {
		font-size: 22px;
	}
	.auto-scroll-wrap .slide-description {
		font-size: 13px;
	}
}

@media screen and (max-width: 320px) {
	.auto-scroll-wrap .slide-name {
		font-size: 20px;
	}
	.auto-scroll-wrap .slide-description {
		font-size: 11px;
	}
}


/*--------------------------------------WHEEL-------------------------------------------*/

.page__wheel {
	background-color: #355D48;
	margin-bottom: 200px;
}

@media screen and (max-width: 1024px) {
	.page__wheel {
		background-color: #355D48;
		margin-bottom: 120px;
	}
}

.wheel__body{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: relative;
}

.wheel-title {
	font-size: 55px;
	text-transform: uppercase;
	padding-top: 46px;
	padding-bottom: 15px;
	color: #fff;
}

.wheel-text {
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	width: 60%;
	line-height: 160%;
	padding-bottom: 32px;
}

.wheel__left-column{
	width: var(--left-column-width);
}

.wheel__right-column{
	/* position: relative;
	top: -122.5px;
	height: 455px; */
	position: absolute;
    top: 50%;
	right: 0%;
    transform: translateY(-50%);
	/* margin-left: 30px; */
}

@media screen and (max-width: 1280px) {
	.deal-wheel {
		zoom: 0.8;
	}

	.wheel-title{
		font-size: 45px;
	}

	.wheel-text{
		width: 100%;
		padding-bottom: 0;
	}

}

@media screen and (max-width: 1024px) {
	.wheel__body{
		flex-direction: column;
	}

	.wheel__right-column{
		position: relative;
		align-self: center;
		transform: translateY(0);
		padding-bottom: 90px;
	}

	.wheel__left-column{
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.wheel-title {
		font-size: 50px;
		padding-top: 90px;
		padding-bottom: 30px;
	}

	.wheel-text{
		width: 66%;
	}

	.wheel__body .sign-up-button, .btn-spin{
		margin-bottom: 40px;
	}

}

@media screen and (max-width: 540px) {
	.deal-wheel {
		zoom: 1;
	}

	.wheel-title {
		font-size: 40px;
	}
}

@media screen and (max-width: 414px) {
	.wheel-title {
		font-size: 30px;
		padding-top: 60px;
	}

	.wheel-text{
		font-size: 13px;
	}

	.wheel__right-column{
		padding-bottom: 60px;
	}
}


/*--------------------------------------QUIZ BLOCK-------------------------------------------*/
.page__quiz-block{
	margin-bottom: 78px;
}
.quiz-block__body{
	/* margin-top: 245px; */
	background-color: #F6F6F6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quiz-block-title{
	padding-top: 52px;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 15px;
}

.quiz-block-text{
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	line-height: 160%;
	padding-bottom: 35px;
}

.quiz-block-button{
	margin-bottom: 52px;
}

@media screen and (max-width: 1280px) {
	.quiz-block-title{
		font-size: 50px;
	}
}

@media screen and (max-width: 736px) {
	.quiz-block-title{
		font-size: 40px;
	}

	.quiz-block-text{
		font-size: 13px;
		width: 60%;
	}
}

@media screen and (max-width: 540px) {
	.quiz-block-title{
		font-size: 35px;
		width:90%;
	}

}