/*-----------------------------------POP-UP----------------------------------------------*/
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0; /*Скрываем фон и сам попап*/
    pointer-events: none; /*Запрещаем ему быть целью событий*/
    transition: 0.5s all;
    z-index: 2000;/*100*/
}
.popup__bg.active { /* При добавлении класса 'active'*/
    opacity: 1; /* Показываем фон и попап*/
    pointer-events: all; /* Возвращаем события*/
    transition: 0.5s all;
    z-index: 3000;/*200*/
}
.popup {
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Центрируем и масштабируем в 0 само окно*/
    background: #fff;
    width: 1220px;
    padding-top: 18px;
    padding-bottom: 40px;
    /* transition: 0.5s all; */
}
.popup.active { /* При добавлении класса 'active'*/
    transform: translate(-50%, -50%) scale(1); /* Так же центрируем и плавно увеличиваем*/
    /* transition: 0.5s all; */
}

.booking-stages__wrapper{
    display: flex;
    justify-content: space-between;
}


.close-popup {
    position: absolute;
    top: -40px;
    right: 10px;
    cursor: pointer;
}

.stage-title{
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 18px;
   
    padding-bottom: 18px;
    text-align: center;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    width: 25%;

    color: #A7A7A7;
    border-bottom: 4px solid #F6F6F6;
}

.active-stage{
    color: #232323;
    border-bottom: 4px solid #6B6B6B;
}

._container-window{
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px;
    box-sizing: content-box;
}

/*-----------------------------------SERVICE FILTERS----------------------------------------------*/

.service__data{
    display: flex;
    flex-direction: column;
}

.filters-service__body{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40%;
    margin-bottom: 40px;
}

.filter-service__body-item{
	margin-right: 10px;
}

.filter-service__body-item input[type="text"]{
	padding: 8px 40px 8px 20px;
    color: #C6C6C6;
	width: auto;
	min-width: 1px;
    background-color: #E9E9E9;
	font-family: "SF Pro Text";
	font-weight: 600;
    font-size: 15px;
    border-radius: 40px;

	/* Добавляем фоновое изображение справа */
    background-image: url('../images/search-select.svg'); /* Путь к вашему изображению со стрелкой */
    background-repeat: no-repeat;
    background-position: right center; /* Выравниваем изображение справа и по центру вертикально */
    background-size: auto 100%; /* Автоматически масштабируем изображение по высоте */
}

.filter-service__body-item select{
	font-family: "SF Pro Text";
	font-weight: 600;
	width: auto;
	background-color: #E9E9E9;
	color: #232323;
	padding: 8px 40px 8px 20px;
	font-size: 15px;
	border-radius: 40px;
    appearance: none;
	/* Добавляем фоновое изображение справа */
    background-image: url('../images/arrow-select.svg'); /* Путь к вашему изображению со стрелкой */
    background-repeat: no-repeat;
    background-position: right center; /* Выравниваем изображение справа и по центру вертикально */
    background-size: auto 100%; /* Автоматически масштабируем изображение по высоте */
}


/*-----------------------------------SERVICE BODY----------------------------------------------*/
.service-type__header{
    font-family: "SF Pro Text";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
}

.service__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.service-item__img{
    width: 10%;
    height: 0;
    padding-bottom: 10%; /* Подгоняем высоту под ширину */
    position: relative;

    margin-right: 25px;
}

.service-item__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняем видимость и пропорциональность содержимого */
    border-radius: 110px;
}

.service-item__info{
    display: flex;
    flex-direction: column;
}

.service-name{
    font-size: 16px;
    text-transform: uppercase;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 170%;
}

.service-description{
    font-size: 14px;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.4);
    width: 60%;
}

.service-price{
    font-size: 20px;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 170%;
    text-transform: uppercase;
}

.sign-in-button{
    margin-top: 30px;
}

.sign-in-button button span{
    font-family: "Oswald" !important;
    color: #fff !important;
    text-transform: uppercase !important;
}

.sign-in-button:hover {
    width: 180px;
}

/* @media(max-width:444px){
    .popup{
        width: 280px;
    }
    .popup textarea {
        height: 80px;
    }
    .popup input {
        height: 25px;
    }
} */