/*-----------------------------------POP-UP----------------------------------------------*/
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0; /*Скрываем фон и сам попап*/
    pointer-events: none; /*Запрещаем ему быть целью событий*/
    transition: 0.5s all;
    z-index: 2000;/*100*/
}
.popup__bg.active { /* При добавлении класса 'active'*/
    opacity: 1; /* Показываем фон и попап*/
    pointer-events: all; /* Возвращаем события*/
    transition: 0.5s all;
    z-index: 3000;/*200*/
}
.popup {
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Центрируем и масштабируем в 0 само окно*/
    background: #fff;
    width: 1220px;
    padding-top: 18px;
    padding-bottom: 40px;
    max-height: 90vh; 
    overflow-y: auto;
    /* transition: 0.5s all; */
}
.popup.active { /* При добавлении класса 'active'*/
    transform: translate(-50%, -50%) scale(1); /* Так же центрируем и плавно увеличиваем*/
    /* transition: 0.5s all; */
}

.booking-stages__wrapper{
    display: flex;
    justify-content: space-between;
}

.close-popup {
    position: absolute;
    top: -40px;
    right: 10px;
    cursor: pointer;
}

.stage-title{
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 18px;
   
    padding-bottom: 18px;
    text-align: center;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    width: 25%;

    color: #A7A7A7;
    border-bottom: 4px solid #F6F6F6;
}

.active-stage{
    color: #232323;
    border-bottom: 4px solid #6B6B6B;
}

._container-window{
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px;
    box-sizing: content-box;
}

/*-----------------------------------SERVICE BLOCK, SERVICE FILTERS----------------------------------------------*/

.service__data{
    display: flex;
    flex-direction: column;
}

.filters-service__body{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40%;
    margin-bottom: 40px;
}

.filter-service__body-item{
	margin-right: 10px;
}

.filter-service__body-item input[type="text"]{
	padding: 8px 40px 8px 20px;
    color: #C6C6C6;
	width: auto;
	min-width: 1px;
    background-color: #E9E9E9;
	font-family: "SF Pro Text";
	font-weight: 600;
    font-size: 15px;
    border-radius: 40px;

	/* Добавляем фоновое изображение справа */
    background-image: url('../images/search-select.svg'); /* Путь к вашему изображению со стрелкой */
    background-repeat: no-repeat;
    background-position: right center; /* Выравниваем изображение справа и по центру вертикально */
    background-size: auto 100%; /* Автоматически масштабируем изображение по высоте */
}

.filter-service__body-item select{
	font-family: "SF Pro Text";
	font-weight: 600;
	width: auto;
	background-color: #E9E9E9;
	color: #232323;
	padding: 8px 40px 8px 20px;
	font-size: 15px;
	border-radius: 40px;
    appearance: none;
	/* Добавляем фоновое изображение справа */
    background-image: url('../images/arrow-select.svg'); /* Путь к вашему изображению со стрелкой */
    background-repeat: no-repeat;
    background-position: right center; /* Выравниваем изображение справа и по центру вертикально */
    background-size: auto 100%; /* Автоматически масштабируем изображение по высоте */
}


/*-----------------------------------SERVICE BODY----------------------------------------------*/

.service-type__header{
    font-family: "SF Pro Text";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
}

.service__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 36px;
}

.service-item__img{
    width: 12%;
    height: 0;
    padding-bottom: 10%; /* Подгоняем высоту под ширину */
    position: relative;

    margin-right: 25px;
}

.service-item__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняем видимость и пропорциональность содержимого */
    border-radius: 110px;
}

.service-item__info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service-name{
    font-size: 16px;
    text-transform: uppercase;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 170%;
}

.service-description{
    font-size: 14px;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.4);
    width: 80%;
}

.service-price{
    font-size: 20px;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 170%;
    text-transform: uppercase;
}

.sign-in-button{
    margin-top: 30px;
}

.sign-in-button button span{
    font-family: "Oswald" !important;
    color: #fff !important;
    text-transform: uppercase !important;
}

.sign-in-button:hover {
    width: 180px;
}

/* @media(max-width:444px){
    .popup{
        width: 280px;
    }
    .popup textarea {
        height: 80px;
    }
    .popup input {
        height: 25px;
    }
} */


/*-----------------------------------SERVICE BUTTONS----------------------------------------------*/

.service__buttons{
    display: flex;
    flex-direction: row;

    position: relative;
    margin-bottom: 100px;
    margin-top: 50px;
}

.green-button{
    font-family: "Oswald";
}

#nextBtnToMaster{
    position: absolute;
    right: 0;
    top: 0;
}

#nextBtnToMaster:hover{
    width: 180px !important;
}


/*-----------------------------------MASTER BLOCK----------------------------------------------*/
.master__wrapper {
    display: none; /* Изначально скрываем блок */
}


/*-----------------------------------MASTER BODY----------------------------------------------*/

.master__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 36px;
}

.master-item__img{
    width: 12%;
    height: 0;
    padding-bottom: 10%; /* Подгоняем высоту под ширину */
    position: relative;

    margin-right: 25px;
}

.master-item__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняем видимость и пропорциональность содержимого */
    border-radius: 110px;
}

.master-item__info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.master-name{
    font-size: 16px;
    text-transform: uppercase;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 170%;
}

.master-position{
    font-size: 14px;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.4);
    width: 60%;
}

.master-rating-stars{
    display: flex;
    flex-direction: row;
}

.master-rating{
    font-size: 20px;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 170%;
    text-transform: uppercase;
}

.master-block-star{
    margin-left: 5px;
    margin-top: 2px;
    background-image: url('../images/star-icon.svg');
    background-size: contain; /* Масштабируем изображение так, чтобы оно полностью помещалось в блок */
    background-repeat: no-repeat; /* Отключаем повторение фонового изображения */
    background-position: center; /* Центрируем изображение */
    width: 25px;
    height: 30px;
}

/*-----------------------------------Master BUTTONS----------------------------------------------*/

.master__buttons{
    display: flex;
    flex-direction: row;

    position: relative;
    margin-bottom: 100px;
    margin-top: 50px;
}

.green-button{
    font-family: "Oswald";
}

#prevBtnToService{
    position: absolute;
    left: 0;
    top: 0;
}

#prevBtnToService::after {
    content: '\2190';
    
}

#nextBtnToDateTime{
    position: absolute;
    right: 0;
    top: 0;
}

#nextBtnToDateTime:hover,
#prevBtnToService:hover{
    width: 180px !important;
}

/*-----------------------------------Date-Time----------------------------------------------*/

.area-title-calendar {

    line-height: 170%;
    text-transform: uppercase;
    font-size: 25px;
    color: #232323;
    padding: 20px 0;
    text-align: center;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    border-bottom: 4px solid #232323;
    margin-bottom: 55px;
} 

#calendar{
    margin: 60px ;
    font-family: "SF Pro Text";
}

h2{
    font-family: "SF Pro Text";
}

.fc-center {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "SF Pro Text";
    font-weight: 700;
}


.fc-event, .fc-event-dot{
    background-color: #38624C; /* красный цвет фона */
    border: 1px solid #38624C;
}

/*-----------------------------------Calendar BUTTONS----------------------------------------------*/

.date-time__buttons{
    display: flex;
    flex-direction: row;

    position: relative;
    margin-bottom: 100px;
    margin-top: 50px;
}

.green-button{
    font-family: "Oswald";
}

#prevBtnToMaster{
    position: absolute;
    left: 0;
    top: 0;
}

#prevBtnToMaster::after {
    content: '\2190';
    
}

#nextBtnToDetails{
    position: absolute;
    right: 0;
    top: 0;
}

#nextBtnToDetails:hover,
#prevBtnToMaster:hover{
    width: 180px !important;
}

.border{
    margin-top: 36px;
    border-bottom: 4px solid #F6F6F6;
}

/*форма*/
.book-procedure-form{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
    margin-top: 36px;
}
.book-procedure-form .label-input__group{
	display: flex;
	flex-direction: column;
	width: 46%;
	margin-bottom: 28px;
}

.book-procedure-form .label-input__group:last-child{
	align-self: flex-end;
}

.book-procedure-form label{
	font-family: "SF Pro Text";
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.book-procedure-form input{
	padding: 17px 40px;
	font-family: "SF Pro Text";
	font-size: 21px;
	line-height: 160%;
	border-radius: 50px;
	background-color: #EAEAEA;
}

/*-----------------------------------Details BUTTONS----------------------------------------------*/

.details__buttons {
    display: flex;
    flex-direction: row;

    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
}

.prevBtnToDateTime{
    position: absolute;
    left: 0;
    top: 0;
}

#prevBtnToDateTime::after {
    content: '\2190';
    
}

#book{
    position: absolute;
    right: 0;
    top: 0;
}

#book:hover{
    width: 230px !important;
}

#prevBtnToDateTime:hover{
    width: 180px !important;
}

/*-----------------------------------Details Date Time----------------------------------------------*/
.date-time__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 36px;
}
.date-time__img{
    width: 12%;
    height: 0;
    padding-bottom: 10%; /* Подгоняем высоту под ширину */
    position: relative;

    margin-right: 25px;
}

.date-time__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняем видимость и пропорциональность содержимого */
    border-radius: 110px;
}

.date-time__info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.date-month-year{
    font-size: 16px;
    text-transform: uppercase;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 170%;
}

.day-of-week{
    font-size: 14px;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.4);
    width: 60%;
}

.start-end{
    font-size: 20px;
    font-family: "SF Pro Text";
    font-weight: 500;
    line-height: 170%;
    text-transform: uppercase;
}

