body, html{
    background-color: #355D48;
}

.page__price-list{
    padding-top: 50px;
    padding-bottom:100px;
}

.price-list__body{
    display: flex;
    flex-direction: column;
}

.service-type__header{
    font-size: 78px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
    align-self: center;
    margin-bottom: 45px;
}

.service-type__wrapper{
    width: 100%;
}

.service-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 26px;
}

.left-column{
    width: 50%;
}

.right-column{
    width: 12%;
}

.service-name{
    font-size: 38px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-description{
    font-family: "SF Pro Text";
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 170%;
}

.service-duration{
    font-family: "SF Pro Text";
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}

.service-price{
    padding: 17px 20px;
    font-family: "SF Pro Text";
    font-size: 21px;
    color: #fff;
    font-weight: 800;
    border: 0.5px solid #fff;
    border-radius: 140px;
    text-align: center;
}

.price-list__body img{
    align-self: center;
    margin-top: 86px;
    margin-bottom: 86px;
}

._container .price-list_line:last-child{
    display: none;
}

@media screen and (max-width: 1280px) {
    .service-type__header{
        font-size: 60px;
    }
    .left-column {
        width: 65%;
    }

}
@media screen and (max-width: 1024px) {
    .service-type__header{
        font-size: 50px;
    }
    .left-column {
        width: 70%;
    }

    .right-column{
        width: max-content;
    }

    .service-name {
        font-size: 30px;
    }
    
}
@media screen and (max-width: 834px) {
    .service-description {
        font-size: 15px;
    }
    .service-duration{
        font-size: 16px;
    }
    .service-price {
        font-size: 16px;
    }

}

@media screen and (max-width: 640px) {
.price-list_line{
    transform: scale(0.7);
}
}

@media screen and (max-width: 540px) {
    .page__price-list {
        padding-top: 30px;
    }
    .service-type__header {
        font-size: 30px;
        width: 100%;
    }

    .service-name {
        font-size: 20px;
    }

    .service-description {
        font-size: 10px;
    }

    .service-duration {
        font-size: 14px;
    }

    .service-price {
        font-size: 12px;
        padding: 15px 20px;
        border-radius: 60px;
    }

    .right-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .price-list_line{
        transform: scale(0.4);
    }
    .price-list__body img{
        margin: 40px 0px;
    }
}

@media screen and (max-width: 414px) {
    .service-name{
        font-size: 16px;
    }
}
@media screen and (max-width: 375px) {
    .service-name{
        font-size: 12px;
    }

    .service-description{
        font-size: 8px;
    }

    .service-duration {
        font-size: 10px;
    }

    .service-price{
        font-size: 8px;
        padding: 10px 15px;
    }
    .page__price-list {
        padding-top: 0px;
    }
}
@media screen and (max-width: 320px) {

}