/*--------------------------------------SERVICES GENERAL INFO-------------------------------------------*/
html, body{
    background-color: #355D48;
}

.page__services-page {
    padding-top: 50px;
}

.services-page__body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.services-page__info-block {
	display: flex;
	flex-direction: column;
}

.services-header {
	font-size: 78px;
	text-transform: uppercase;
	padding-bottom: 15px;
    color: #fff;
}

.services-text {
	font-family: "SF Pro Text";
	font-weight: 300;
	line-height: 170%;
	font-size: 15px;
	margin-bottom: 45px;
    color: #fff;
	width: 38%;
}

.page__services-catalog{
	margin-bottom: 85px;
}

/*-------------------CARD-------------------*/

.services-catalog__body{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-service__body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 20px;
}

.service-name {
	margin-top: 30px;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
    color: #fff;
	width: 380px
}

.service-description {
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	text-align: center;
    color: #fff;
	width: 260px;
	line-height: 160%;
	text-align: center;
	align-self: center;

}

.service-button {
	align-self: center;
	margin-bottom: 30px;
	background-color: transparent !important;
	color: #fff !important;
}