
#sign-up-for-procedure__window {
    z-index: 100;
    display: none;
    position: fixed; /* Изменено на fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto; /* Добавлено для прокрутки содержимого */
}

#sign-up-for-procedure {
    width: 550px;
    height: 480px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 50px; /* Добавлено для центрирования */
}

#sign-up-for-procedure__form {
    width: 550px;
    height: 700px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}


.close__form {
    display: flex;
    align-items: center;
    position: absolute;
    align-self: flex-end;
    top: 10px;
    right: 10px;
}

#sign-up-for-procedure__window:target {
    display: block;
}

#sign-up-for-procedure__data select {
    font-family: Montserrat;
    height: 45px;
    width: 450px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    position: relative;
}


#sign-up-for-procedure__button {
    padding: 0px 80px;
    height: 45px;
    border: none;
    cursor: pointer;
}

#calendar{
    margin-top: 10px;
}