
/*--------------------------------------SPECIALIST-------------------------------------------*/
body, html{
    background-color: #355D48;
}

.page__speialist-profile{
    background-color: #fff;
}

.specialist-profile__body{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    padding-bottom: 86px;
}

.specialist-profile__photo{
	width:50%;
    height:100%;
}

.specialist-profile__photo img{
	object-fit: cover;
	height: 800px;
	width: 100%;
}



.specialist-profile__info-block{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
	width:50%;
    justify-content: space-between;
}

.info-block-name{
    font-size: 78px;
    color: #355D48;
    text-transform: uppercase;
}

.info-block-rating-stars{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.info-block-rating{
    font-size: 29px;
    font-family: "SF Pro Text";
    font-weight: 600;
    margin-right: 5px
}

.info-block-star{
    background-image: url('../images/star-icon.svg');
    background-size: contain; /* Масштабируем изображение так, чтобы оно полностью помещалось в блок */
    background-repeat: no-repeat; /* Отключаем повторение фонового изображения */
    background-position: center; /* Центрируем изображение */
    width: 30px;
    height: 30px;
}

.info-block-specialization{
    color: #355D48;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.info-block-description{
    font-family: "SF Pro Text";
    font-size: 15px;
    font-weight: 300;
	line-height: 170%;
	width: 80%;
	margin-bottom: 38px;
}

.info-block-gray{
	margin-bottom: 30px;
}

.info-block-gray-title{
	color: #355D48;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.info-block-checkmark-text{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	width: 100%;
	background-color: #E9E9E9;
	border-radius: 40px;
	padding: 6px 0px 6px 14px;
	margin-bottom: 15px;
}

.info-block-checkmark{
    background-image: url('../images/checkmark-icon.svg');
    background-size: contain;
    background-repeat: no-repeat; /* Отключаем повторение фонового изображения */
    background-position: center; /* Центрируем изображение */
    width: 30px;
    height: 30px;
	margin-right: 8px;
}

.info-block-text{
	font-size: 15px;
    font-family: "SF Pro Text";
    font-weight: 600;
	line-height: 170%;
}

.specialist-button{
	margin-bottom: 0px !important;
}

/*--------------------------------------REVIEWS BLOCK-------------------------------------------*/
.page__review{
    margin-bottom: 160px;
}

.review__body{
    margin-right: 0;
}

.review__body-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.swiper-navigation-container{
    width: auto !important;
    height: auto;
}

.swiper-button-next{
    top: 23%;
    right: 110px;
    color: #fff;
}

.swiper-button-prev{
    top: 23%;
    right: 170px;
    left: auto;
    color: #fff;
}

.review__body-header p{
    font-size: 78px;
	text-transform: uppercase;
	color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;

}

.review__body-reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review__card{
    /* margin-right: 20px; */
    padding: 16px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 490px;
    align-items: start;
}

.icon{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.text{
    width: 62%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #fff;
    font-family: "SF Pro Text";
    line-height: 140%;
    hyphens: auto;
}

.text_name-review-date{
    font-weight: 600;
    margin-bottom: 5px;
}

.text_review-text{
    font-weight: 300;
}

.stars{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.stars img{
    margin-right: 2px;
}

