
/*--------------------------------------SPECIALISTS GENERAL INFO-------------------------------------------*/
.page__speialists-page {
    padding-top: 50px;
}

.specialists-page__body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.specialists-page__info-block {
	display: flex;
	flex-direction: column;
	width: 38%;
}

.specialists-header {
	font-size: 78px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.specialists-text {
	font-family: "SF Pro Text";
	font-weight: 300;
	line-height: 170%;
	font-size: 15px;
	margin-bottom: 45px;
}

.specialists-button{
	margin-bottom: 40px;
}

/*-------------------FILTERS-------------------*/
.filters-block{
	margin-bottom: 40px;
}
.filters-block__body{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.filters__body{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 55%;
}

.filter__body-item{
	margin-right: 10px;
}

.filter__body-item p{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #232323;
	margin-bottom: 10px;
	margin-right: 5px;
}
.filter__body-item input[type="text"]{
	padding: 8px 40px 8px 20px;
    color: #C6C6C6;
	width: auto;
	min-width: 1px;
    background-color: #E9E9E9;
	font-family: "SF Pro Text";
	font-weight: 600;
    font-size: 15px;
    border-radius: 40px;

	/* Добавляем фоновое изображение справа */
    background-image: url('../images/search-select.svg'); /* Путь к вашему изображению со стрелкой */
    background-repeat: no-repeat;
    background-position: right center; /* Выравниваем изображение справа и по центру вертикально */
    background-size: auto 100%; /* Автоматически масштабируем изображение по высоте */
}

.filter__body-item select{
	font-family: "SF Pro Text";
	font-weight: 600;
	width: auto;
	background-color: #E9E9E9;
	color: #232323;
	padding: 8px 40px 8px 20px;
	font-size: 15px;
	border-radius: 40px;
    appearance: none;
	/* Добавляем фоновое изображение справа */
    background-image: url('../images/arrow-select.svg'); /* Путь к вашему изображению со стрелкой */
    background-repeat: no-repeat;
    background-position: right center; /* Выравниваем изображение справа и по центру вертикально */
    background-size: auto 100%; /* Автоматически масштабируем изображение по высоте */
}

.reset-button {
	display: inline-flex;
	align-items: center;
	font-size: 15px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	color: #C6C6C6;
	padding: 8px 16px;
	font-family: "SF Pro Text";
	font-weight: 500;
  }

  /* Стили для SVG-иконки крестика */
  .reset-icon {
	width: 16px;
	height: 16px;
	margin-left: 8px;
	background-image: url('../images/delete-filters-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
  }



/*-------------------PAGINATION-------------------*/

.hidden {
    display: none !important;
}

.pagination-container {
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 90px 0 100px 0;
    justify-content: center;
}

.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
    color: #949494;
	font-family: "SF Pro Text";
	font-weight: 300;
}

.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
    color: #232323;
}

.pagination-number.active {
    color: #232323;
}

.pagination-button.disabled{
    color: #949494;
}

/*-------------------CARD-------------------*/

.specialists-catalog__body{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.card-specialist__body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin-right: 20px;
}

/*все кроме третьего слайда с отступом справа*/

.specialist-name {
	margin-top: 30px;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.specialist-description {
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	text-align: center;
}

.specialist-button {
	align-self: center;
	margin-bottom: 30px;
}

/*--------------------------------------NEED COUSULTATION BLOCK-------------------------------------------*/
.page__need-consult-block{
	margin-bottom: 78px;
}
.need-consult__body{
	background-color: #355D48;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.need-consult-title{
	padding-top: 52px;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 15px;
	color: #fff;
}

.need-consult-text{
	font-family: "SF Pro Text";
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	line-height: 160%;
	padding-bottom: 35px;
	color: #fff;
}

.need-consult-button{
	margin-bottom: 52px;
}

