.header__link-white:hover{
    color: #232323;
    text-decoration: none;
}

.fc-center {
    text-transform: uppercase;
    font-size: 30px;
}

@media (min-width: 1200px) {
    .container {
        width: 1220px;
    }
}

.container {
    padding: 0px 0px 100px 0px;
    font-family: "SF Pro Text";
}

h2, h4{
    font-family: "SF Pro Text";
    font-size: 30px;
}

.sub-header {
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 70px;
}

.modal-dialog{
    font-family: "SF Pro Text";
}